---
import BaseLayout from "../layouts/BaseLayout.astro";
import GithubAvatar from "@/components/GithubAvatar";
---

<BaseLayout title="Welcome to Astro.">
  <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  <GithubAvatar client:load />
</BaseLayout>

<style></style>
